extends layout

block content
    div#showbox.col-lg-6.col-md-6.col-sm-12
        div.thumnail
            img.nails(src='/images/IQAir_AirPurifier_Banner.jpg', alt='...')  
            div.caption#iqair
                
                    div.icon.col-lg-4.col-md-4.col-sm-6
                        img(src='/images/refresh-shield-128.gif',alt='')
                    div.col-lg-8.col-md-8.col-sm-6
                        h1 IQair 
                        p 瑞士制造的IQAir艾可爱尔是最好的空气净化器，旨在提高国内空气质量水平。IQAir是北京，上海，广州，成都中评价最高的空气净化器，专业完美的清洁空气专家。
                        
                    a.arrow(href='products#iqair-pro')

    div#showbox.col-lg-6.col-md-6.col-sm-12
        div.thumnail
            img.nails(src='/images/blueair_family-lg.jpg', alt='...')  
            div.caption#blueair
                
                    div.icon.col-lg-4.col-md-4.col-sm-6
                        img(src='/images/butterfly-128.gif',alt='')
                    div.col-lg-8.col-md-8.col-sm-6
                        h1 BLueair
                        p 布鲁雅尔是瑞典生产的空气净化器，是获得世界认可的高端空气净化器品牌，Blueair各机型均通过国际相关安全认证和国家电子信息产品安全性能检测。
                    a.arrow(href='products#blueair-pro')
    div.clearfix
    div.row
        div.col-lg-12

            div.box1.col-lg-4.col-md-3.col-sm-7
                hr
                div.heading
                    h1 类别

                p 空气净化的原理有五种，包括物理式、静电式、化学式、负离子式和复合式。空气净化器在具备除菌、除异味等净化功能外，常增加空气加湿功能来辅助美肤，但价位要稍高些。
                a.btn.btn-info(href = 'question') 更多
            div.box1.col-lg-4.col-md-3.col-sm-7
                hr
                div.heading
                    h1 选购
                p 一般而言，刚装修的房屋对空气净化器的需求更迫切，要根据房间大小来选择不同规格的空气净化器，要注意空气净化器运行时不能产生太大的噪音，一楼住户不宜选购带有加湿功能的
                a.btn.btn-info(href = 'question') 更多
            div.box1.col-lg-4.col-md-3.col-sm-7
                hr
                div.heading
                    h1 粉尘
                p PM2.5是空气中粒径≤2.5μm的固体颗粒的统称。PM2.5被认为是空气中最大的健康风险，人体的呼吸免疫系统对PM2.5无效，因为颗粒过小，小到足以直接进入肺部甚至血液，而且PM2.5一旦进入肺泡，吸附在肺泡上很难掉落。
                a.btn.btn-info(href = 'question') 更多

    div.clearfix
    div.row.col-lg-12.col-md-12.col-sm-12
        hr
        div.media
            a.pull-left.col-md-6(href='#')
                <iframe height=340 width=420 src="http://player.youku.com/embed/XMTU4NTczMTg0" frameborder=0 allowfullscreen></iframe>
            div.media-body.col-md-5
                h2.media-heading 世界最好的空气净化器
                br
                p 在过去的45年里，IQ Air爱客在空气净化领域中一直处于世界领先地位。公司是由Manfred和KlauseHammes两兄弟创办的，1963年他们周游世界，寻找有效去除空气中污染物的最佳方法，他们以高度的热情创办了室内净化这个领域中的第一家公司。由于对完美永无止境的追求，使得很多先进的新技术诞生在他们的瑞士研究中心。那时候，绝大部分时间用于开发针对医院和高尖端实验室的无尘处理。 
                
                
