extends layout
block content
   div.row
        hr
        a#iqair-price
        h2 IQAir
        table.table.table-striped
            tr
                th.col-md-2  
                th.col-md-3  过滤网
                th.col-md-3  碳层
                th.col-md-2  使用面积
                th.col-md-2  价格
                

            tr
                td
                     a(href='products#iqair-pro') HealthPro Plus
                td Cleanroom grade, 3.7 平方米
                td 2.27kg 碳/氧化铝/钾/高锰酸盐
                td 52 平方米
                td $899.99*

            tr
                td
                     a(href='products#iqair-pro') HealthPro 
                td Cleanroom grade,  3.7 平方米
                td 无
                td 57.6 平方米
                td $899.99*

            tr
                td
                     a(href='products#iqair-pro') HealthPro Compact
                td Cleanroom grade,  3.7 平方米
                td 无
                td 57.6 平方米
                td $899.99*

        hr
    div.row
        a#blueair-price 
        h2 Blueair
        table.table.table-striped
            tr
                th.col-md-3  
                th.col-md-4  微粒过滤
                th.col-md-2  碳层
                th.col-md-2  使用面积
                th.col-md-1  价格


            tr
                td
                     a(href='products#blueair-pro') Blueair 203 HEPASilent
                td Mechanical filtration (1 filter) and electrostatic
                td None
                td 250 sq ft
                td $329.99*

            tr
                td
                     a(href='products#blueair-pro') Blueair 203 GO SmokeStop 
                td Mechanical filtration (1 filter) and electrostatic
                td 1.8 lbs, specially blended
                td 240 sq ft
                td $379.99*

            tr
                td
                     a(href='products#blueair-pro') Blueair 403 HEPASilent 
                td Mechanical filtration (1 filter) and electrostatic
                td None
                td 530 sq ft
                td $549.99

            tr
                td
                     a(href='products#blueair-pro') Blueair 403 GO SmokeStop
                td Mechanical filtration (1 filter) and electrostatic
                td 2.2 lbs, specially blended
                td 505 sq ft
                td $609.99*

            tr
                td
                     a(href='products#blueair-pro') Blueair 503 HEPASilent
                td Mechanical filtration (3 filters) and electrostatic
                td None
                td 780 sq ft
                td $659.99
            tr
                td
                     a(href='products#blueair-pro') Blueair 503 GO SmokeStop
                td Mechanical filtration (3 filters) and electrostatic
                td 4.0 lbs, specially blended
                td 740 sq ft
                td $729.99
            tr
                td
                     a(href='products#blueair-pro') Blueair 603 HEPASilent
                td Mechanical filtration (3 filters) and electrostatic
                td None
                td 860 sq ft
                td $769.99
            tr
                td
                     a(href='products#blueair-pro') Blueair 603 GO SmokeStop
                td Mechanical filtration (3 filters) and electrostatic
                td 4.0 lbs, specially blended
                td 820 sq ft
                td $839.99*

        hr


