extends layout
block content
    div.col-md-8.col-lg-8.col-sm-12.col-xs-12.question
        h1 关于净化器的常见问题
        hr.blod
        h3 IQAir
        div.panel-group
            div.panel.panel-default
                div.panel-heading
                    a(href='#q1',data-toggle="collapse",) IQAir空气净化器的有效覆盖面积是多少？ 

                div#q1.panel-collapse.collapse
                    div.panel-body
                       p 这取决于污染程度和机器运行的风速。对于一般高度（2.8米）的房屋，一台IQAir 可以覆盖60—80平方米左右的房间。如果周围房间的门开着，IQAir也可以净化这些周围区域的空气。
            
            div.panel.panel-default
                div.panel-heading
                    a(href='#q2',data-toggle="collapse",) 把IQAir空气净化器放在哪里效果最好？ 

                div#q2.panel-collapse.collapse
                    div.panel-body
                        p 为了最有效的使用IQAir ，我们建议放在日常作息的地方使用，比如：卧室，客厅和办公室。IQAir 配有轮子，可以很方便的移动到每个房间。一般来说，IQAir净化器离人越近, 对人所产生的积极影响越大。
            
            div.panel.panel-default
                div.panel-heading
                    a(href='#q3',data-toggle="collapse",) IQAir如何保证净化效果像广告宣传里承诺的一样？ 

                div#q3.panel-collapse.collapse
                    div.panel-body
                        p 很多空气净化器公司自诩产品拥有很强的净化功能，但在实际状况下通常都是达不到的。IQAir 在这方面一直凭借事实说话。我们会在实际生活中检测并确保每一台机器的净化效能。每一台IQAir都会附有一张工程师手填的净化效率证明书，记录当场检测的结果。这就是您的保证书，每台IQAir都会达到广告里宣传的效果，甚至测试结果会表现的更好。  

            div.panel.panel-default
                div.panel-heading
                    a(href='#q4',data-toggle="collapse",) IQAir会产生臭氧吗？ 

                div#q4.panel-collapse.collapse
                    div.panel-body
                        p IQAir空气净化器是100%不会产生臭氧的。它是纯物理的净化原理，靠机器内的高效滤芯来净化室内空气。离子发生器和电子空气过滤器会产生臭氧，而臭氧会刺激肺脏器官。即使少量的臭氧也会对过敏症患者或者哮喘病人构成严重威胁。 

            div.panel.panel-default
                div.panel-heading
                    a(href='#q5',data-toggle="collapse",) IQAir可以只在特定时间工作吗？ 

                div#q5.panel-collapse.collapse
                    div.panel-body
                        p IQAir空气净化器是100%不会产生臭氧的。它是纯物理的净化原理，靠机器内的高效滤芯来净化室内空气。离子发生器和电子空气过滤器会产生臭氧，而臭氧会刺激肺脏器官。即使少量的臭氧也会对过敏症患者或者哮喘病人构成严重威胁。 

            div.panel.panel-default
                div.panel-heading
                    a(href='#q6',data-toggle="collapse",) IQAir滤芯可以用多久？ 

                div#q6.panel-collapse.collapse
                    div.panel-body
                        p IQAir使用大表面积和高性能的滤芯, 可以延长滤芯的使用时间。假设在普通污染程度下，普通的风速（三档风速）下，滤芯每天运行24小时，不同的滤芯可以使用的时间为（以月来计算）:
                        p 几个主要机型：
                        p HP250:
                        p PreMax 首层滤芯：8个月, V5-Cell 滤芯: 9 个月, HyperHEPA 滤芯: 18个月。
                        p HP150：
                        p PreMax MG 滤芯: 6 个月, HyperHEPA 滤芯: 18个月。
                        p GC MultiGas：
                        p H11 滤芯: 6个月，MG Gas 滤芯: 18个月。
                        p 注释：在污染程度不严重，间断运行并且低风速的使用状况下，可以延长滤芯的寿命。相反，污染严重并且经常使用会缩短滤芯的寿命。 

            div.panel.panel-default
                div.panel-heading
                    a(href='#q7',data-toggle="collapse",) 什么是IQAir滤芯智能监测器? 

                div#q7.panel-collapse.collapse
                    div.panel-body
                        p IQAir拥有滤芯智能监测器，它在计算每个滤芯的剩余寿命时会考虑三种因素。您可以实时监测滤芯的可使用时长，精确到小时。
                        p 对于任何高性能的空气净化器，滤芯的使用寿命主要取决于3个因素：
                        p 1) 实际运行时间
                        p 2) 实际运行风速
                        p 3) 污染程度

            div.panel.panel-default
                div.panel-heading
                    a(href='#q8',data-toggle="collapse",) 我怎么知道什么时候需要更换滤芯？

                div#q8.panel-collapse.collapse
                    div.panel-body
                        p 您有两种方法可以在任何时候检查每个滤芯的剩余寿命（以小时记）。当某个滤芯达到使用寿命时，机器会提示使用者（通过控制面板上LED显示红灯）。 您也可通过查看控制面板滤芯智能监测器，监测滤芯可使用时长。

            div.panel.panel-default
                div.panel-heading
                    a(href='#q9',data-toggle="collapse",) IQAir净化系统运行声音大吗？

                div#q9.panel-collapse.collapse
                    div.panel-body
                        p IQAir 运行的声音很小，并保证99.97%“0微粒”输风，在目前的市场上没有任何一款空气净化器可以做到这点。IQAir不同风速的分贝分别是22,33,41,47,52和57(上下不超过2分贝)。对于所有的净化产品，风速越大，声音自然也会随之提高。
                        p 如果要有效的净化空气，空气净化器必须具备以下特性1)高性能的滤芯 2)绝对的密封 3)强有力的风扇，可以让滤芯更有效地净化更多的空气。所以任何一台有效的空气净化器都不可能是完全静音的。如果广告宣传是静音的，那它可能没有风扇，或者风扇的效果很弱，或者滤芯是无效的。

            div.panel.panel-default
                div.panel-heading
                    a(href='#q10',data-toggle="collapse",) IQAir 可以和加湿器放在一起吗？

                div#q10.panel-collapse.collapse
                    div.panel-body
                        p 可以，但是如果您希望避免IQAir内部吸收过多湿气，最好让两个机器摆放保持一段距离。

        h3 Blueair
        div.panel-group
            div.panel.panel-default
                div.panel-heading
                    a(href='#b1',data-toggle="collapse",) 哪款Blueair机器适合我？

                div#b1.panel-collapse.collapse
                    div.panel-body
                        p 很简单。只需考虑房间面积。

                        p 每款布鲁雅尔(Blueair)产品都采用了HEPASilent™(高效无声过滤)技术，对0.1微米颗粒的过滤之效率高达99.97%。但是过滤性能只是其中一项，您的空气净化机必须还要能够过滤房间内的全部空气。您只需把您的房间面积与下列的房间面积标准进行比较即可。

                        p 我们推荐的房间面积乃是基于美国家电协会(AHAM)的测试数据，该协会是一个对空气净化机之整体性能进行测评的独立的工业组织。从下表中您就可以选择适合您房间面积的机型了。每个房间都假定有8英尺(2.4米)高的天花板，如果您的房间天花板比较高，则请选择下一规格的房间面积。
                        dl
                            dt 房间面积
                                dd 最适合的布鲁雅尔(Blueair)机型
                            dt ≤65 m2 
                                dd 布鲁雅尔(Blueair)603 
                            dt ≤ 56 m2
                                dd 布鲁雅尔(Blueair)503或者布鲁雅尔(Blueair)550E
                            dt ≤ 34 m2 
                                dd 布鲁雅尔(Blueair)403或者布鲁雅尔(Blueair)450E
                            dt ≤ 28 m2 
                                dd 布鲁雅尔(Blueair)301或者布鲁雅尔(Blueair)303
                            dt ≤ 22m2
                                dd 布鲁雅尔(Blueair)203或者布鲁雅尔(Blueair)270E
                            dt ≤ 14m2
                                dd 布鲁雅尔(Blueair)103

                        p 对于有过敏或哮喘的人，我们推荐使用布鲁雅尔(Blueair)403、503和603空气净化机。所有机型标准配置为HEPASilent™(高效无声过滤)粒子滤网。 复合(SmokeStop™)滤网为可选择配件，适用吸烟人士或者与吸烟人士一起生活的人。

            div.panel.panel-default
                div.panel-heading
                    a(href='#b2',data-toggle="collapse",) E系列与普通机型的区别？

                div#b2.panel-collapse.collapse
                    div.panel-body
                        p 有了布鲁雅尔(Blueair）E系列空气净化器，您就可以不间断地监测并净化您的室内空气了。您只需从6米多或者20英尺之外的地方按按遥控器按钮，就可以调节转速或者设置定时器了。或者也可以把机器调整为自动模式，让机器自行选择运行速度。
                        p 方便易用的遥控器和数字显示系统让您可以得到空气粒子检测、净化器速度和定时器操作的即时反馈。所以您就不用离开您舒适的座位或沙发或者起床去更改速度设置了。对准、按键，就这么简单。另外，电子显示器也会提示您到时更换滤网。

            div.panel.panel-default
                div.panel-heading
                    a(href='#b3',data-toggle="collapse",) 使用时需特别维护吗？

                div#b3.panel-collapse.collapse
                    div.panel-body
                        p Blueair净化机在使用中，不需作特殊维护。平时只需用软布擦拭机器外表。具体程序如下：
                        ol
                            li 关闭机器，切断电源；
                            li 使用一个软刷子或附有软刷子的真空吸尘器来清洁入口小孔；
                            li 打开前门，用一个软刷子或附有软刷子真空吸尘器清洁内部；
                            li 将机器放在铺有松软织物的地面或沙发上；
                            li 轻轻取出围在机器进风口内外侧的前置滤网；
                            li 将前置滤网放在水中清洗凉干；
                            li 再将清洗凉干后的前置滤网放回原位。

            div.panel.panel-default
                div.panel-heading
                    a(href='#b4',data-toggle="collapse",) 多长时间更换一次滤网？

                div#b4.panel-collapse.collapse
                    div.panel-body
                        p 为了使机器保持在您所期望的性能水平之上，我们建议您更换滤网的间隔为4-6-12个月，根据具体型号决定。

                        p 为什么要这么频繁呢？房间内的空气污染的总量和类型在不同的情况下差别非常之大。有的制造商声称他们的滤网使用时间非常长 – 甚至长达5年时间！而在布鲁雅尔(Blueair)，我们告诉您的是实际生活中的滤网更换的频率，而不是在实验室中最好的条件下的更换频率。

                        p 显然，每隔几个月就更换一次滤网会增加您的机器维护成本。但是，我们相信您很清楚保持您的室内空气清洁和保持健康的身体是多么重要。 如果不定期更换滤网，您的机器只会以最佳性能的很小一个百分比的性能进行工作。

                        p 为让机器维护尽可能地简单轻松，布鲁雅尔(Blueair)在一些国家提供了方便的滤网订购计划，参加该计划可以为您在推荐的时间间隔为您自动发送更换滤网。

                        p 如果您想自己跟踪滤网替换情况，您也可以直接从布鲁雅尔(Blueair)经销商、零售商或者布鲁雅尔(Blueair)总部直接购买。如果坚持定期更换滤网，那么您的机器一定会以最佳的性能运行。
 
        h1 其他常见问题
        hr.blod
        div.panel-group
            div.panel.panel-default
                div.panel-heading
                    a(href='#b4',data-toggle="collapse",) 多长时间更换一次滤网？

                div#b4.panel-collapse.collapse
                    div.panel-body
                        p 为了使机器保持在您所期望的性能水平之上，我们建议您更换滤网的间隔为4-6-12个月，根据具体型号决定。

                        p 为什么要这么频繁呢？房间内的空气污染的总量和类型在不同的情况下差别非常之大。有的制造商声称他们的滤网使用时间非常长 – 甚至长达5年时间！而在布鲁雅尔(Blueair)，我们告诉您的是实际生活中的滤网更换的频率，而不是在实验室中最好的条件下的更换频率。

                        p 显然，每隔几个月就更换一次滤网会增加您的机器维护成本。但是，我们相信您很清楚保持您的室内空气清洁和保持健康的身体是多么重要。 如果不定期更换滤网，您的机器只会以最佳性能的很小一个百分比的性能进行工作。

                        p 为让机器维护尽可能地简单轻松，布鲁雅尔(Blueair)在一些国家提供了方便的滤网订购计划，参加该计划可以为您在推荐的时间间隔为您自动发送更换滤网。

                        p 如果您想自己跟踪滤网替换情况，您也可以直接从布鲁雅尔(Blueair)经销商、零售商或者布鲁雅尔(Blueair)总部直接购买。如果坚持定期更换滤网，那么您的机器一定会以最佳的性能运行。

    div.col-md-4.col-lg-4.col-sm-8.col-xs-8
        h1 空气净化机常识
        hr.blod
        div.thumnail
            img.col-lg-12.col-md-12.col-sm-12.col-xs-12(src='/images/blueair.jpg',alt='')
            div.knowledge
                ul
                    li: a(href='#',data-toggle="modal", data-target="#myModal1") 为什么需要空气净化器？
                    
                    li: a(href='#',data-toggle="modal", data-target="#myModal2") 什么是CADR？

                    li: a(href='#',data-toggle="modal", data-target="#myModal3") 室内空气污染来源

                    li: a(href='#',data-toggle="modal", data-target="#myModal4") 使用空气净化机可以开窗吗？

                    li: a(href='#',data-toggle="modal", data-target="#myModal5") 空气净化机会降低免疫力吗？
                    
                    li: a(href='#',data-toggle="modal", data-target="#myModal6") 睡眠时可使用空气净化机吗？

                    li: a(href='#',data-toggle="modal", data-target="#myModal7") HEPA代表什么？

        div.modal.fade#myModal1 (tabindex='-1',role='dialog',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal", aria-hidden="true") &times;
                        h3 为什么需要空气净化器？

                    div.modal-body
                        p 一般情况下，一个人每天需摄入1公斤的食物，饮2公斤的水，呼吸32公斤的空气。但据美国环保署的研究，人们在室内呼吸到的空气污染程度是室外空气的2-5倍，有时甚至高达100倍，而现代人几乎90%的活动都是在室内进行的。由此长时间呼吸被污染的室内空气开始引发人头痛、眩晕、昏厥，刺激人的眼耳口鼻，甚至引发难以治愈的过敏及哮喘等呼吸道疾病，室内空气污染已经成为人类不容忽视的隐形杀手。为解决室内空气污染问题，美国环保署（EPA）推荐使用空气净化机。
 
                        p 什么是PM2.5？PM2.5对我有影响吗？
                        p: a(href='http://www.epa.gov/air/basic.html') http://www.epa.gov/air/basic.html
                    div.modal-footer
                        button(class="btn btn-default", type="button",  data-dismiss="modal") 关闭

        div.modal.fade#myModal2 (tabindex='-1',role='dialog',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal", aria-hidden="true") &times;
                        h3 什么是CADR？

                    div.modal-body
                        p CADR 是洁净空气输出率(Clean Air Delivery Rate, CADR)的缩写，是告诉消费者一台空气净化机从室内清除一定的污染物的效率。此处所指的污染物主要包括三种，即花粉、烟雾和灰尘。这三种污染物在室内空气污染物中最常见。通过比较各种空气净化器的CADR(洁净空气输出率)值，消费者就可以知道哪款机型适合自己的房间。CADR(洁净空气输出率)告诉消费者一台空气净化机从室内清除一定的污染物的效率。美国家电协会(AHAM)的封条可以帮助消费者了解某一款空气净化器在真实情况下清洁室内空气的性能。 消费者不用知道或比较他到底需要什么样的空气净化或者过滤技术，他只需要知道机器净化空气的性能就够了，即CADR(洁净空气输出率)值。

                        p 美国家电协会(AHAM)将前述三种污染物分开，制定了不同的CADR(洁净空气输出率)标准，因而消费者就可以据此选择适合的空气净化器。如果一台空气净化器对花粉的CADR较高，那么有花粉过敏的消费者就比较适合选择该种机型。 而一台空气净化器如果在清除烟草烟雾方面有较高的CADR(洁净空气输出率)值，则该机型就比较适合哪些和吸烟的家庭成员住在一起的人士。

                        p 经过美国家电协会(AHAM)计算的适用房间面积也印刷在产品封条上，这也有助于消费者选择适合的机型。每种机型适用的房间面积值的计算是基于该机型清除某面积房间内80%的烟雾颗粒的能力。此种计算假定房间内的空气每一个小时换气一次并彻底混合。

                        p 确定CADR(洁净空气输出率)值的测试方法为美国国家标准学会(ANSI)的国家标准，并被美国环保署(EPA)在其清洁空气能源之星计划中予以应用。为确保测试结果准确而公正，CADR(洁净空气输出率)测定由独立的工业组织美国家电协会(AHAM)进行的。

                        p 尽管有的制造商不愿意向美国家电协会(AHAM)提交其空气净化产品做测试，我们布鲁雅尔(Blueair)公司还是认为CADR(洁净空气输出率)的值应该是您购买产品的首要参考因素。空气净化系统是确保您的家人健康和幸福的一笔重要投资。对于您有意购买的空气净化产品，我们强烈建议您比较其CADR(洁净空气输出率)的值才做决定。

                    div.modal-footer
                        button(class="btn btn-default", type="button",  data-dismiss="modal") 关闭

        div.modal.fade#myModal3 (tabindex='-1',role='dialog',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal", aria-hidden="true") &times;
                        h3 室内空气污染来源

                    div.modal-body
                        p 室内装修使用的劣质油漆，新家具等都会释放挥发性有机物（甲醛、二甲苯、苯等），开窗时随风飘进来的花粉、汽车的废气，衣物被单飘下的粉尘，宠物身上的毛屑带有的细菌霉菌，各类带有味道的物品释放的刺激性物质，烟草的烟雾等等都是常见的室内空气污染物来源，这些污染物容易引发人们哮喘、过敏等反应。充满了这些污染物的室内环境尤为不利于过敏性体制和哮喘病、呼吸道疾病的患者，长久居住而不做任何的措施，会导致严重的健康问题甚至死亡。

                        p 即便您的身体没有出现任何症状也并不能说明您居住的环境是干净的。根据“美国环境保护署”提供的数据表明，人们长久居住在污染的室内环境中一旦病发后果都很严重，因此尽早清洁您的室内空气是个明智的做法，特别是对于有婴幼儿童的家庭，婴幼儿若长期接触空气中的过敏原和污染物也会引发其他疾病的产生。

                    div.modal-footer
                        button(class="btn btn-default", type="button",  data-dismiss="modal") 关闭

        div.modal.fade#myModal4 (tabindex='-1',role='dialog',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal", aria-hidden="true") &times;
                        h3 使用空气净化机可以开窗吗？

                    div.modal-body
                        p Blueair建议您使用空气净化机时请不要开窗。适当开窗能让室外的氧气流入室内，增强室内的氧含量，但同样也会将粉尘、花粉、汽车废气等污染物一起带入室内，所以我们建议开窗时请关闭空气净化机避免无效地消耗滤网，待关窗后再开启空气净化机过滤室内空气中的各种有害物质。

                    div.modal-footer
                        button(class="btn btn-default", type="button",  data-dismiss="modal") 关闭

        div.modal.fade#myModal5 (tabindex='-1',role='dialog',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal", aria-hidden="true") &times;
                        h3 空气净化机会降低免疫力吗？

                    div.modal-body
                        p 使用空气净化机不但不会降低人体免疫力，而且将促进人体免疫力的自我修复。
 
                        p 首先免疫力下降主要是由于各种压力，空气污染、食用不健康食品等因素导致人体亚健康的产生。但人体是具有自我修复能力的，所以如果能够在清洁的空气环境中生活工作，您身体的自我修复将得到重要的帮助。
                         
                        p 晚上睡眠和休息的时候是人体自我修复排出毒素的最佳时间，也是人体免疫系统最低迷的时间，如果您能伴着洁净的空气入睡，将更有利于您身体的自我修复及睡眠质量，长此以往也将有助于人体免疫力的恢复和提升。

                    div.modal-footer
                        button(class="btn btn-default", type="button",  data-dismiss="modal") 关闭

        div.modal.fade#myModal6 (tabindex='-1',role='dialog',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal", aria-hidden="true") &times;
                        h3 睡眠时可使用空气净化机吗？

                    div.modal-body
                        p 据临床显示，人在睡眠时，免疫系统处于最低迷的状态，这个时候，病毒、细菌及有害物质会更容易趁虚而入，侵入和伤害人体。另外，人们在卧床休息的时候，特别在晚间，都有关闭门窗的习惯，这就更使得卧室内的空气相对封闭，不断散发的有害气体和有害物质得不到及时、充分的扩散，其浓度往往比白天开窗通风时要高很多，这些聚集的高浓度污染物会对人体健康造成相当严重的伤害。
 
                        p 因此，Blueair建议晚间最好将机器移到卧室中使用，让洁净空气伴您轻松入眠。

                    div.modal-footer
                        button(class="btn btn-default", type="button",  data-dismiss="modal") 关闭
        
        div.modal.fade#myModal7 (tabindex='-1',role='dialog',aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button",data-dismiss="modal", aria-hidden="true") &times;
                        h3 HEPA代表什么？

                    div.modal-body
                        p HEPA是英文High Efficiency Particulate Air的缩写，意思是高效空气过滤(HEPA)。布鲁雅尔(Blueair)专利的HEPASilentTM(高效无声过滤)技术可以有效清除通过滤网的0.1微米以上大小的悬浮粒子。

                        p 使空气从HEPA滤网中经过通常需要强大的风扇马达，而大功率的马达一般噪音都比较大。布鲁雅尔（Blueair）专门采用了坚固的钢罩和隔音材料，使布鲁雅尔(Blueair)空气净化机保持耳语般的噪音水平。

                    div.modal-footer
                        button(class="btn btn-default", type="button",  data-dismiss="modal") 关闭





        
